@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IUserProvider UserProvider

<PageTitle>Управление мероприятиями</PageTitle>

<header>
    <nav>
        <ul>
            @if (HasAccessToken)
            {
                <li><a href="">Главная</a></li>
                <li><a href="events">Мероприятия</a></li>
                <li><a href="users">Пользователи</a></li>
                <li><a href="my-events-actions">Мои задачи</a></li>
                <li><a href="#">Настройки</a></li>
            }
        </ul>
    </nav>
    @if (!HasAccessToken)
    {
        <button @onclick="@(() => NavigationManager.NavigateToPage("login"))" class="login-button">Вход</button>
    }
    else
    {
        @if (!string.IsNullOrEmpty(UserProvider.Name))
        {
            <span class="user-name">Привет, @UserProvider.Name!</span>
        }
        <button @onclick="@(() => Logout())" class="logout-button">Выход</button>
    }
</header>

<div class="page">
    <main class="main-content">
        @Body
    </main>
</div>

<script>
    window.getCookie = function (key) {
        var value = "";
        document.cookie.split(';').forEach(function (cookie) {
            var parts = cookie.split('=');
            if (parts.length === 2 && parts[0].trim() === key) {
                value = parts[1].trim();
            }
        });
        return value;
    };

    window.deleteCookie = function (key) {
        document.cookie = key + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    };
</script>

@code {
    private bool HasAccessToken { get; set; }

    private async Task<string> GetCookieValue(string key)
    {
        return await JsRuntime.InvokeAsync<string>("getCookie", key);
    }

    private async Task Logout()
    {
        await JsRuntime.InvokeVoidAsync("deleteCookie", "AccessToken");
        NavigationManager.NavigateToPage("", true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await GetCookieValue("AccessToken");

            if (!result.IsNullOrEmpty())
                UserProvider.ParseJwt(result);

            HasAccessToken = !string.IsNullOrEmpty(result);
            StateHasChanged();
        }
    }
}