@inherits LayoutComponentBase

<PageTitle>Управление мероприятиями</PageTitle>

<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="events">Мероприятия</a></li>
            <li><a href="users">Пользователи</a></li>
            <li><a href="#">Настройки</a></li>
        </ul>
    </nav>
    <button class="login-button">Вход</button>
</header>

<div class="page">
    <main class="main-content">
        @Body
    </main>
</div>