@page "/settings"

<h1 class="title">Настройки</h1>
<Loading Spinning="IsLoading">
    @if (User != null)
    {
        <div class="row justify-content-center">
            <div class="col-md-8">
                <EditForm Model="User.Data" OnSubmit="@Update">
                    <FormElement @bind-Control="User.Data.Email" />
                    <FormElement @bind-Control="User.Data.PhoneNumber" />
                    <FormElement @bind-Control="User.Data.Password" />
                    <div class="sticky-bottom">
                        <SaveButton Text="Обновить данные" TextSuccess="Успешно" IsLoading="IsLoading" />
                        <NavLink href="@("")">
                            <AntDesign.Button Type="@ButtonType.Link">Закрыть</AntDesign.Button>
                        </NavLink>
                    </div>
                </EditForm>
            </div>
        </div>
    }
</Loading>

<style>
    .title {
        font-family: montserrat black;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 24px;
    }
</style>

@code {
    [Inject]
    protected AuthService AuthService { get; set; } = null!;

    [Inject]
    protected CatalogUserService CatalogUserService { get; set; } = null!;

    [Inject]
    protected IJSRuntime JsRuntime { get; set; } = null!;

    [Inject]
    protected NavigationManager NavigationManager { get; set; } = null!;

    [Inject]
    protected MessageService MessageService { get; set; } = null!;

    [Inject]
    protected IUserProvider UserProvider { get; set; } = null!;

    protected CatalogUserDto User { get; set; } = null!;

    private bool IsLoading { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetUser();
            StateHasChanged();
        }
    }

    private async Task GetUser()
    {
        IsLoading = true;
        StateHasChanged();

        var result = await CatalogUserService.GetCardAsync(UserProvider.UserId);
        if (result.Ok)
            User = result.Value;

        IsLoading = false;
    }

    private async Task Update()
    {
        IsLoading = true;
        StateHasChanged();

        var result = await CatalogUserService.PutCardAsync(User);

        if (result.Ok)
            await MessageService.Success("Данные успешно обновлены");
        else
            await MessageService.Error("Ошибка обновления");

        IsLoading = false;
        StateHasChanged();
    }
}
