@page "/catalogs/event/{EventId:int}/action/{EventActionId:int}"

<PageHeadTitle Title="Новая задача"></PageHeadTitle>

@if (EventAction != null)
{
    <EditForm Model="EventAction.Data" OnSubmit="@SaveEventAction">
        <div class="row">
            <div class="col-md-8">
                <FormElement @bind-Control="EventAction.Data.Name" />
                <FormElement @bind-Control="EventAction.Data.ResponsibleManager" />
                <FormElement @bind-Control="EventAction.Data.DeadlineCompletion" />
                <FormElement @bind-Control="EventAction.Data.EventActionType" />
                <FormElement @bind-Control="EventAction.Data.Status" />
            </div>
        </div>

        <div class="sticky-bottom">
            <SaveButton IsLoading="IsLoading" />
            <NavLink href="@($"/catalogs/event/{EventId}")">
                <AntDesign.Button Type="@ButtonType.Link">Закрыть</AntDesign.Button>
            </NavLink>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int EventId { get; set; }    
    
    [Parameter]
    public int EventActionId { get; set; }

    [Inject]
    protected EventActionService EventActionService { get; set; } = null!;

    protected EventActionDto EventAction { get; set; } = null!;

    private bool IsLoading { get; set; }

    protected async Task GetEventAction()
    {
        var result = await EventActionService.GetCardAsync(EventActionId);
        if (result.Ok)
            EventAction = result.Value;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetEventAction();
            StateHasChanged();
        }
    }

    protected async Task SaveEventAction()
    {
        IsLoading = true;
        StateHasChanged();

        var result = await EventActionService.PutCardAsync(EventAction);
        if (result.Ok)
        {
            await GetEventAction();
            StateHasChanged();
        }

        IsLoading = false;
    }
}
